.node-div {
	position: absolute;
	top: 0;
	line-height: 14px;
	padding: 5px;
	border: 2px solid white;
	background-color: rgb(29, 27, 27);
}

.node-div:hover {    
	cursor: grab;
}

.node-div:active {
	cursor: grabbing;
}

.node-div label, i {
	font-size: 10px;
}