.node-div {
	position: absolute;
	top: 0;
	line-height: 16px;
	padding: 5px;
	border: 2px solid white;
}

.node-div:hover {    
	cursor: grab;
}

.node-div:active {
	cursor: grabbing;
}

.node-div > label {
	font-size: 12px;
}